/*
Seyes est un logiciel libre
sous licence GNU GPL
écrit par Arnaud Champollion
*/



@font-face {
    font-family: 'AA Cursive';
    src: url('polices/ABcursive-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Dyslexic';
    src: url('polices/OpenDyslexic-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Belle Allure GS';
    src: url('polices/BelleAllureGS-Gros.otf') format('truetype');
}


@font-face {
    font-family: 'Belle Allure CE';
    src: url('polices/BelleAllureCE-Gros.otf') format('truetype');
}

@font-face {
    font-family: 'Belle Allure CM';
    src: url('polices/BelleAllureCM-Gros.otf') format('truetype');
}

@font-face {
    font-family: 'Belle Allure script';
    src: url('polices/BelleAllureScript2i-Gros.otf') format('truetype');
}

@font-face {
    font-family: 'Luciole';
    src: url('polices/Luciole-Regular.woff') format('woff');
}



:root {
    --couleur-texte: blue;
    --decalage-depart: 0px;
    --decalage-position: 0px;
    --largeur-marge-secondaire: 100px;
    --ligatures : "calt" 1; 
    --largeur-carreau-impression: 12mm;
    --taille-police-impression: 12mm;
    --marge-impression: 1mm;
    --hauteur-ligne-impression: 12mm;
    --marge-top-impression: 1mm;
    --largeur-page-impression: 1mm;
    --largeur-marge-impression: 1mm;
    --largeur-marge2-impression: 1mm;
}


::selection {
  background-color: rgba(0, 255, 255, 0.568);
}

.transparenttext::selection {
    color: #000000 !important;  
}


* {
    margin:0;
    padding:0;
  }

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; /* Ajoute une flexbox verticale pour placer l'en-tête au-dessus */
    height: 100dvh; /* 100% de la hauteur de la fenêtre */
    margin: 0;
    font-size: 0;
    background-color: rgb(255, 255, 255);
    overflow-y: hidden;
}

/* Forcer le fond blanc pour les utilisateurs en mode sombre */
@media (prefers-color-scheme: dark) {
    body {
        background-color: white !important;
    }
}


#entete {
    display: none;
    width: 100%; /* L'en-tête doit prendre toute la largeur */
    height: 80px;
    font-size: 16px; /* Ajuster la taille de police */
    text-align: center;
    font-size: 0;
    background-color: rgb(210, 243, 209);
    border-bottom: 3px #000000 solid; 
    align-items: stretch;

}

#haut-marge {
    width: 100%; /* L'en-tête doit prendre toute la largeur */
    height: 40px;
}

#bas-marge {
    width: 100%; /* L'en-tête doit prendre toute la largeur */
    height: 40px;
    display: flex;
    align-items: stretch;
    display: flex;
    flex-direction: row; 
}

#marge-entete {
    width: 20%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 28px;
    color: #0d2e0a;

}

#case1 {    
    flex: 1;
    height: calc(100% - 3px);
    border-top: 3px #000000 solid;
    border-right: 3px solid #000000;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

}

#case2 {
    text-align: center;
    width: var(--largeur-marge-secondaire);
    height: calc(100% - 3px);
    border-top: 3px #000000 solid;
    border-radius: 0px 10px 0px 0px;
    border-right: 3px solid #000000;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;

}

#case3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #0d2e0a;
    z-index: 1;
}

#select-jours {
    font-size: 45px; /* Taille de la police */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center; /* Alignement du texte au centre */
    width: fit-content; /* Largeur basée sur le contenu */
    padding: 4px; /* Espacement intérieur */
    border: 2px solid #3498db; /* Bordure de couleur */
    border-radius: 10px; /* Coins arrondis */
    background-color: #ecf0f1; /* Couleur de fond */
    color: #2c3e50; /* Couleur du texte */
    appearance: none; /* Supprimer le style par défaut du sélecteur */
    -webkit-appearance: none; /* Compatibilité avec Safari */
    -moz-appearance: none; /* Compatibilité avec Firefox */
    cursor: pointer; /* Curseur en forme de main */
    transition: all 0.3s ease; /* Transition pour les effets */
}

#select-jours:hover {
    background-color: #3498db; /* Couleur de fond au survol */
    color: white; /* Couleur du texte au survol */
    border-color: #2980b9; /* Couleur de la bordure au survol */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre au survol */
}




#choix-couleur-entete {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 54px;
    width: 54px;
    outline: none;
    border: #000000 solid 3px;
    border-radius: 25%;
}


#choix-couleur-entete::-webkit-color-swatch,
#choix-couleur-entete::-moz-color-swatch {
  border-color: transparent;
}

#contenu {
    display: block;
    flex: 1;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: relative;
}

#conteneur-extensible {
    flex: 1; /* Remplit l'espace restant */
    display: flex; /* Utilise Flexbox pour aligner ses enfants */
    flex-direction: row; /* #marge et #page côte à côte */
    min-height: 100%; /* Force la hauteur */
}

#barre {
    height: 45px;    
    border-bottom: 2px #ffffff outset;
    background-color: #d9d9f7;
    background-image: url(images/seyes.png);
    background-size: 106px;
    background-position: 2px center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 3px;
    padding-left: 120px;
}

/* DEV 


body.dev {
    background-color: #fff7ca;
}

body.dev #barre {
    position: relative;
    background-color: #ffed89;
}

body.dev #barre::after {
    position: absolute;
    content: 'DEV';
    right: 10px;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: italic;
}

*/



body.primtux #barre {
    background-image: none !important;
}

.section {    
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 0px 2px 0px 2px;
    border-right: 3px #746d6d dotted;
}

#panneauOptions {
    position: absolute;
    z-index: 10000;
    right: 0px;
    top: 0px;
    height: 100%;
    min-width: 300px;
    background-color: #0000008e;
    border-left: 3px rgb(68, 45, 45) outset;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#panneauOptions h2 {
    text-align: center;
    color: #ffffff;
}

#panneauOptions .section {
    padding: 5px;
    background-color: #ffffff8c;
    border: 3px #ffffff solid;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#inputLargeurImpression {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px !important;
    width: 2.8em;
    height: 1.5em;
    text-align: center;
}

#marge {
    display: inline-flex;
    vertical-align: top;
    flex-direction: row;
    border-right: 3px solid red;
    min-height: 100%;     
}

#marge1 {   
    min-height: 100%; 
    flex: 1;
}

#marge2 {
    display: none;
    min-height: 100%;
    text-align: center;
    width: var(--largeur-marge-secondaire);
    border-left: 3px solid #000000;
    position: relative;
}

#marge2::before {
    content: '';
    position: absolute;
    top: 0;
    left: -3px; /* Largeur de la "bordure" virtuelle */
    height: 100%;
    width: 5px; /* Largeur de la "bordure" virtuelle */
    cursor: ew-resize; /* Changer le curseur pour indiquer un redimensionnement horizontal */
    z-index: 1000;
}

#page {
    vertical-align: top;
    position: relative;
    width: 80%;
    min-height: 100%;
}

#page::before {
    content: '';
    position: absolute;
    top: 0;
    left: -3px; /* Largeur de la "bordure" virtuelle */
    height: 100%;
    width: 5px; /* Largeur de la "bordure" virtuelle */
    cursor: ew-resize; /* Changer le curseur pour indiquer un redimensionnement horizontal */
}

#barre button:not(#carreaux), #barre input:not(#inputNombreDeCarreaux), #zone_couleur, #barre label, #opacite {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin : 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-size: contain;
    vertical-align: middle;
}

#zoneInputNombreDeCarreaux {
    display: flex;
    flex-direction: column;
}

#inputNombreDeCarreaux {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 20px;
    width: 2.5em;
    text-align: center;
}

#texteInputNombreDeCarreaux {
    content: 'carreaux';
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

#page,#marge1,#marge2 {
    transition: background-size 0.3s ease;
}

#opacite {
    background-image:url(images/carreau_degrade.svg);
    background-repeat: no-repeat;
    border-radius: 10%;
    height: 23px;
    width: 23px;
    border: 2px solid black;
}

#reglage_opacite {
    width:43px !important;
    margin: 0 !important;
    vertical-align: middle !important;
}

/* Masquer l'input de type fichier */
input[type="file"] {
    display: none !important;
}

.bouton-musique {
    position: absolute;
    left: 5px;
    height: 38px;
    width: 38px;
    border: none;
    outline: none;
    padding: 0px;
    z-index: 1000;
    background-position: top left;    
}

#bouton-audio {
    bottom: 48px;
    background-image: url(images/play.png);
    background-color: transparent;
}

.bouton-musique>div {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 43px;
    transform: translateY(-50%);
    background-size: contain;
}

.bouton-musique>div:hover{
    background-image: url(images/move.svg);
}

.new {
    border-radius: 50%;
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.6); /* Ombre rouge circulaire */
}

.new::after {
    content : 'nouveau';
    position: absolute;
    top: -20px;
    left: 0px;
    font-weight: bold;
    color: red;
}

#bouton-stop {
    bottom: 5px;
    background-image: url(images/stop.png);
    background-color: transparent;
}

#bouton-audio.pause {
    background-position: bottom left !important;
}

#bouton_image {
    display: none !important;
    background-image: url(images/image.svg);

}

#regle {
    background-image: url(images/regle.svg);
}

#zoom_in {
    background-image: url(images/zoom_in.svg);
}

#zoom_out {
    background-image: url(images/zoom_out.svg);
}


#carreaux {
    background-image: url(images/carreau_seyes.svg);
    position: relative;
    border: 2px #000000 solid !important;
    background-color: #ffffff;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin : 2px;    
    background-size: contain;
    vertical-align: middle;
}

.fleche_bas {
    display: inline-block;
    vertical-align: middle;  
    width: 10px;
    height: 100%;
    background-image: url(images/fleche_bas.svg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 50;
  
}

.multibouton {
    display: inline-block;
    height: 35px;
}

.multibouton:hover, .multibouton:hover>.fleche_bas  {
    box-shadow: 0 0 2px rgb(0, 0, 0);
    border-radius: 2px;
    background-color: #ffffff36;
}

#barre button:hover {
    box-shadow: 0 0 2px rgb(0, 0, 0);
    border-radius: 2px;
    background-color: #ffffff36;
}

.bouton-couleur {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.bouton-couleur:hover {
 box-shadow: 0px 0px 10px #1d3b4e;
}


#bouton_deroule_carreaux {
    position: absolute;
    bottom: 53px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 20px;
    background-image: url(images/fleche_transp..svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 50;
}

.deroule_carreaux {
    width: 50px;
    height: 50px;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.deroule_carreaux:hover {
    filter: brightness(80%);
}

#carreau_terre {
    background-size: 60%;

}

#nouveau {
    background-image: url(images/nouveau.svg);
}

#ouvrir {
    background-image: url(images/ouvrir.svg);
}

#codi {
    background-image: url(images/cloud.svg);
}

#imprimer {
    background-image: url(images/imprimer.svg);
}

#enregistrer {
    background-image: url(images/enregistrer.svg);
}

#date {
    background-image: url(images/date.svg);
}

#copielien {
    background-image: url(images/copielien.svg);
}

#options {
    background-image: url(images/options.svg);
}

#zone_couleur {
    border-radius: 50%;
    width: 23px;
    height: 23px;
    border: 2px solid black;
    overflow: hidden;
    vertical-align: bottom;
}

#applique_couleur {
    text-align: center;
    margin: 0 !important;
    height: 23px !important;
    border-radius: 0% 0% 100% 100%;
}

#lance_couleur {
    display: inline-block;
    background-image: url(images/fleche.svg);
    height: 23px !important;
    background-repeat: no-repeat !important;
    margin: 0 !important;
    border-radius: 100% 100% 0% 0% ;
}



#choix_police {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    vertical-align: middle;
    padding-left: 3px;
    width: 180px;

}

#bouton_ligatures {
    background-image: url(images/ligatures.svg);
    background-size: 25px 20px !important;
    background-position: 0% 100%;
}

#a_propos {
    background-image: url(images/question.svg);
}

#left {
    background-image: url(images/left.svg);
}

#center {
    background-image: url(images/center.svg);
}

#fullscreen {
    background-image: url(images/fullscreen.svg);
    background-size: 35px 70px !important;
    background-position: 0% 100% !important;
}

#zone_boutons_soulignement, #zone_choix_carreaux {
    display: inline-block;
}

.deroule {
    position: absolute;
    top: 0%;
    margin: 0;
    background-color: #bdd6fa;
    border-radius: 5px 5px 0px 0px;
    border: 3px solid #000;
    text-align: left;
    padding: 20px;
    z-index: 1000;
}



#couleur-texte, #souligne, #bouton_entoure {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    position: relative;    
}

#bouton_entoure::after {
    content: ''; /* Nécessaire pour que l'élément ::after apparaisse */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 2px solid red; /* Bordure rouge */
    border-radius: 50%; /* Cercle */
    transform: translate(-50%, -50%); /* Centrer le cercle par rapport au bouton */
    box-sizing: border-box; /* Pour que la bordure ne modifie pas la taille du cercle */
}

#souligne {
    text-decoration: underline;
}



.bouton-fermer {
    position : absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-image: url(images/bouton_fermer.svg);
    background-size: contain;
    background-color: transparent;
    border: none;
    outline: none;
  }



#boutons_carreaux button:not(.bouton-fermer) {
    background-color: #ffffff;
}

#boutons-couleur-texte, #boutons_carreaux, #boutons_soulignement {
    position: fixed;
    top: 46px;
}

#boutons-couleur-texte>h3, #boutons_carreaux>h3, #boutons_soulignement>h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:rgb(117, 117, 117);
    margin-bottom: 10px;
}


#graphismes {
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.trace {
    cursor: url(images/crayon.png) 0 30, auto;
}

.trait {
    border-radius: 3px;
    user-select: none;
    transition: width 0.2s linear, height 0.2s linear;
}

.trait:hover {
    box-shadow: 0 0 15px 10px rgb(34, 233, 16);
    cursor: pointer;
}

.trait.horizontal {
    transform: translateX(var(--decalage-depart)) translateY(var(--decalage-position));
}

.trait.vertical {
    transform: translateY(var(--decalage-depart)) translateX(var(--decalage-position));
}

.bouton-supprimer-trait, .bouton-couleur-trait {
    position: absolute;
    display: none;
    height: 10px;
    width: 10px;    
    box-sizing: content-box;
    padding: 10px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: all;
    font-weight: bold;    
}

.bouton-supprimer-trait {
    background-image: url(images/supprime.svg);

}

.bouton-couleur-trait {
    background-image: url(images/couleurs.svg);    
}

.select>.bouton-supprimer-trait, .select>.bouton-couleur-trait{
    display: block;
}

.trait.horizontal>.bouton-supprimer-trait {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);    
}

.trait.vertical>.bouton-supprimer-trait {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);    
}

.trait.horizontal>.bouton-couleur-trait {
    top: -40px;
    left: 50%;
    transform: translateX(-50%);    
}

.trait.vertical>.bouton-couleur-trait {
    left: -40px;
    top: 50%;
    transform: translateY(-50%);    
}

.select {
    box-shadow: 0 0 15px 10px rgb(233, 255, 36) !important;
    cursor: pointer;
}

#page.trace .trait:hover {
    box-shadow: none !important;
}



.texte {
    position: relative;
    color: var(--couleur-texte);
    overflow-wrap: anywhere;
    z-index: 1;
    font-feature-settings: var(--ligatures);
    transition: font-size 0.3s ease, line-height 0.3s ease, margin-top 0.3s ease;
}

.texte:focus {
    outline: none;
}

.souligne, u {
    text-decoration: underline;    
    text-decoration-thickness: 0.1em;
    text-decoration-color: rgb(251, 255, 9);
}


.red {
    text-decoration-color: rgb(255, 0, 0);
}
.blue {
    text-decoration-color: blue;
}
.green {
    text-decoration-color: green;
}
.yellow {
    text-decoration-color: rgb(219, 198, 4);
}
.pink {
    text-decoration-color: #ff00fdff;
}
.black {
    text-decoration-color: black;
}
.purple {
    text-decoration-color: purple;
}
.orange {
    text-decoration-color: orange;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0px;
}

.entoure {
    position: relative; /* Nécessaire pour les pseudo-éléments */
    border-radius: 1em / 50%; /* Arrondi des coins */
}

.entoure::after {
    content: ''; /* Crée un pseudo-élément vide */
    position: absolute;
    top: -0.3em; /* Distance verticale (haut) */
    left: -0.3em; /* Distance horizontale (gauche) */
    right: -0.3em; /* Distance horizontale (droite) */
    bottom: -0.3em; /* Distance verticale (bas) */
    border: 5px solid red; /* Épaisseur et couleur de l'outline */
    border-radius: 1em / 50%; /* Suivre le bord arrondi de l'élément */
    pointer-events: none; /* Évite toute interaction avec cet élément */
}






.boite {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 3px #000000 solid;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
}

.boite button {
    padding : 5px;
}



.voile {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    z-index: 0;
    pointer-events: none;    
}

#voile_marge2 {
    width: calc(100% + 3px);
    left : -3px;
}

.draggable {
    z-index: 10;
}

#zone_menu_copie_lien, #confirmation-nouveau {
    height: fit-content;
}

#zone_menu_copie_lien .contenu-lightbox, #confirmation-nouveau .contenu-lightbox {
    text-align: center !important;
}

#zone_lien {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    user-select: all;
    background-color: rgb(216, 204, 204);
    text-align: left;
    max-height: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 1%;
    border: 1px solid #000;
    overflow-x: auto;
    word-break: break-all;
    margin-top: 5px;
    margin-bottom: 5px;
}



.exposant {
    font-size: 75%;
    position: relative;
    top: -0.6em; /* Ajuste la hauteur pour un effet précis */
}

.context-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 150px; /* Définir une largeur */
    display: block;
}

.context-menu-option {
    padding: 8px 12px;
    cursor: pointer;
}

.context-menu-option:hover {
    background-color: #f1f1f1;
}


.flatpickr-calendar{
    position: absolute !important;
    top: 35px;
    height: fit-content;
    z-index: 1000;
    border: 1px solid #000000 !important;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.61) !important;
    font-family: Arial, Helvetica, sans-serif;
}

#darkbox {
    /* Elle doit prendre toute la largeur et toute la hauteyr  */
      position: fixed;
      z-index: 999; /* O la place sous la lightbox */
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.5);
    }
    
    .lightbox {
      position: fixed;
      z-index: 1000; /* O la place sur la lightbox */
      display: flex;
      flex-direction: column;
      max-width: 80%;
      max-height: 90%;
      top: 50%;
      left: 50%;
      padding: 10px; /* Marge intérieure */
      border-radius: 20px; /* Coins arrondis */
      box-shadow: 0px 0px 15px #ffffff; /* Ombre transparente blanche */
      border: 2px solid #000000; /* Bordure de 2px noire */
      transform: translateX(-50%) translateY(-50%); /* Pour centrer dans la page */
      background-color: #ffffff; /* Couleur de fond */
    
    }
    
    .lightbox h1 { /* Le titre */
      font-family: Arial, Helvetica, sans-serif;
      font-size: 36px;
      min-height: 36px;
      margin: 10px;
    }
    
    .contenu-lightbox {
      flex: 1;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      overflow-y: auto;
      text-align: left;
      width: fit-content;
      margin: auto;
    }

    .contenu-lightbox p {
        margin-bottom: 10px;
    }

    .contenu-lightbox ul {
        list-style-type: circle;
    }

    
    .lightbox .bouton-fermer {
      position : fixed;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      background-image: url(images/bouton_fermer.svg);
      background-size: contain;
      background-color: transparent;
      border: none;
      outline: none;
    }

    .cartouche {
        padding-left: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
    }

    #message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 600px;
        max-width: 100%;
        max-height: 100%;
        padding: 15px;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        background-color: #ffffff;
        color: #000000;
        border: 3px outset #000000;
        border-radius: 15px;
        z-index: 1000000;
    }

    
    #message img {
        float: left;
        margin-right: 10px;
    }
    
    #understood-button {
        display: block;
        width: fit-content;
        font-size: 24px;
        margin-left: auto;
        margin-right: auto;
    }

#divCodi {
    padding-top: 20px !important;
}

#inputCodi {
    width: calc(100% - 6px);
    box-sizing: border-box;
    border-radius: 5px;
    height: 2em;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#resultatCodi {
    padding: 3px;
    border-radius: 3px;
}

#resultatCodi.correct {
    background-color: greenyellow;
}

#resultatCodi.incorrect {
    background-color: orange;
}

#lienCodi {
    font-family: 'Courier New', Courier, monospace;
    color:rgb(41, 40, 40);
    font-size: 0.8em;
    padding: 1em;
    border: 1px #000000 solid;
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
}

#boutonCodi, #boutonFermeCodi {
    font-size: 1em;
    position: relative;
    margin-top: 0.5em;
}

.hide {
    display: none !important;
}

@media print {

    body, html {height: auto;}

    #barre, #panneauOptions {
        display: none !important;
    }

    #texte_principal, #texte_marge, #texte_marge_seconsaire {
        font-size: var(--taille-police-impression) !important;
        margin-left: var(--marge-impression) !important;
        margin-right: var(--marge-impression) !important;
        margin-top: var(--marge-top-impression) !important;
        line-height: var(--hauteur-ligne-impression) !important;    
    }

    #page,#marge1,#marge2 {
        background-size: var(--largeur-carreau-impression) !important;
    }

    #page {
        width: var(--largeur-page-impression) !important;
    }

    #marge {
        width: var(--largeur-marge-impression) !important;

    }

    #marge2 {
        width: var(--largeur-marge2-impression) !important;
    }

}
